body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 0;
}


.App {
  background:#d4dfff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.AppArea {
  background: white;
  height: 600px;
  width: calc(600px * .48);
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  overflow: hidden;
  box-shadow: 0px 0px 60px rgb(0 0 0 / 50%);
}
.StartHere {
  background: #fff;
  background: linear-gradient(0deg,
   #fff 0%,
   #fff 50%,
   #161120 50%,
   #161120 90%,
    #fff 90%,
    #fff 100%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}
.lightArea img{width: 250px;}
.lightArea {
  background: #fff;
  width: 100%;
  height: 50%;
  position: relative;
  z-index: 2;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  border-radius: 0 0 60px 0;
  -webkit-border-radius: 0 0 60px 0;
  -moz-border-radius: 0 0 60px 0;
  -ms-border-radius: 0 0 60px 0;
  -o-border-radius: 0 0 60px 0;
}
.darkArea p{
  margin: 12px auto;
  color: white;
  font-size: 12px;
  opacity: .5;
  width: 70%;
}
.darkArea h2{
  margin: 0;
  color: white;
  font-size: 22px;
  line-height: 22px;
  margin-top: 0;
}
.darkArea {
  background: #161120;
  width: 100%;
  height: 50%;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  border-radius: 60px 0 0 0;
  -webkit-border-radius: 60px 0 0 0;
  -moz-border-radius: 60px 0 0 0;
  -ms-border-radius: 60px 0 0 0;
  -o-border-radius: 60px 0 0 0;
}

.startbtn svg{
  font-size: 17px;
  margin-left: 5px;
}
.startbtn .MuiButton-label{font-weight: 900;}
.startbtn a:hover,
.startbtn a{
  text-decoration: none;
  color: white;
}
.startbtn {
    /* background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%); */
    background: #b8124b !important;
    font-size: 12px !important;
    color: white !important;
    padding: 10px 16px !important;
    margin-top: 10px !important;
    border-radius: 9px !important;
    -webkit-border-radius: 9px !important;
    -moz-border-radius: 9px !important;
    -ms-border-radius: 9px !important;
    -o-border-radius: 9px !important;
}

.ListHere {
  background: #fff;
  background: linear-gradient(
0deg,
#161120  10%,
#161120  75%,
#fff  75%,
 #fff 100%

);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
}
.darktop {
  background: #161120;
  width: 100%;
  height: 25%;
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: 2;
  color: rgb(255 255 255 / 80%);
  padding-top: 25px;
  border-radius: 0 0 0 60px;
  -webkit-border-radius: 0 0 0 60px;
  -moz-border-radius: 0 0 0 60px;
  -ms-border-radius: 0 0 0 60px;
  -o-border-radius: 0 0 0 60px;
}
.head-tab {
  padding: 0 23px;
}
.head-tab div:first-child {
  text-align: left;
}
.head-tab div:last-child {
  text-align: right;
}
.menu-bar {
  justify-content: center;
}

.darktop h2 {
  font-size:12px;
  margin: 0;
  line-height: 27px;
}
.darktop svg {
  font-size:16px;
}
.buttons-box {
  background: rgb(255 255 255 / 10%);
  padding: 10px 10px 12px 10px;
  margin-top: 20px;
  border-radius: 10px;
}
.buttonm:hover {
  background: #171220;
  border-radius: 7px;
  font-size: 11px;
  padding: 10px 19px;
  text-decoration: none;
  color:white;
}
.buttonm {
  color: white;
  font-size: 11px;
  padding: 10px 19px;
  margin: 0 3px;
  cursor: pointer;
  text-decoration: none;
}
.calls-menu {}
.chats-menu {
  background: #171220;
  border-radius: 7px;
  font-size: 11px;
  padding: 10px 19px;
}
.cont-menu {}

.whitebottom {
  background: #fff;
  width: 100%;
  height: 75%;
  position: relative;
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
  padding: 5px 0;
  border-top: 15px solid rgb(255 255 255 / 50%);
  border-radius: 0 0 60px 0;
  -webkit-border-radius: 0 60px 0 0;
  -moz-border-radius: 0 0 60px 0;
  -ms-border-radius: 0 0 60px 0;
  -o-border-radius: 0 0 60px 0;
}

.sub-head {margin-bottom: 10px;padding: 0 15px;}
.sub-head h3{font-size: 15px;}
.sub-head h3 span{font-size: 10px;opacity: .5;display: block;margin-top: 5px;}
.sub-head svg{
  font-size: 20px;
  margin: 10px 10px 0 0;
}
.sub-head div:first-child{text-align: left;}
.sub-head div:last-child{text-align: right;}

.list-head {}
.list-head li:hover{
  background: rgb(0 0 0 / 5%);
}
.list-head li{
  padding: 10px 15px 1px;
}
.list-head ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-head {text-align: left;}
.list-head li .time {
  font-size: 10px;
  font-weight: 600;
  float: right;
  margin-top: -39px;
}
.list-head li p {
  font-size: 11px;
    max-height: 17px;
    overflow: hidden;
    max-width: 129px;
    opacity: .7;
}
.list-head li h4 {font-size: 12px;margin: 8px 0 0px 0;}
.list-head li .MuiBadge-root {
  float: left;margin-right: 10px;
}
.list-head .MuiAvatar-root {
  border-radius: 11px !important;
}

